{{define "navigation"}}
<nav class="bg-sky-100 col-span-full p-8 flex flex-nowrap items-center gap-8 justify-between">
    <h1 class="text-2xl">Doubleblind</h1>
    <ul class="flex justify-end gap-8">
        <li>
            <a href="/new">New experiment</a>
        </li>
        <li>
            <a href="/account">Your account</a>
        </li>
    </ul>

    <div class="row">
        <div class="btn white darken-6 col s12">
            <a href="/auth/google/login" style="text-transform:none">
                <div class="left">
                    <img width="30px" alt="Google &quot;G&quot; Logo"
                         src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"/>
                </div>
                Login with Google
            </a>
        </div>
    </div>

</nav>
{{end}}